
  <% if @proposal.proposal_accepted %>
    <div id="overview">
      <div class="left">
        <h1> OVERVIEW</h1>
      </div>
      <div class="right">
        <li>Title - <%= @proposal.title %></li>
        <li>Prepared for - <em><%= @proposal.email %></em></li>
        <li>Budget - <%= number_to_currency(@proposal.budget, precision: 0) %></li>
      </div>
    </div>
    <br>
    <div id="why-me">
      <div class="left">
        <h2> WHY ME?</h2>
      </div>
      <div class="right">
        <h7>Your project and my skills are a great fit. Here’s why:</h7>
        <li> Reason 1</li>
        <li> Reason 2</li>
      </div>
    </div>

    <div id="fees">
      <div class="left">
        <h2> FEES</h2>
      </div>
      <div class="right">
        Total - <%= number_to_currency(proposal.budget, precision: 0) %>
      </div>
    </div>

    <div id="milestones">
      <div class="left">
        <h2> MILESTONES</h2>
      </div>
      <div class="right">
        <li> Milestone 1</li>
        <li> Milestone 2</li>
      </div>
    </div>

    <div id="what-next">
      <div class="left">
        <h2> WHAT'S NEXT</h2>
      </div>
      <div class="right">
        <li> You sign this Proposal</li>
        <li> You make the payment</li>
        <li> I start designing</li>
      </div>
    </div>

    <div id="terms">
      <div class="left">
        <h2> TERMS</h2>
      </div>
      <div class="right">
        <li> TERM 1</li>
        <li> TERM 2</li>
      </div>
    </div>

     <br>
     <br>

    <div id="invoice">
      Invoice Paid?
      <% if @proposal.invoice_paid %>
        Yes
      <% else %>
        No
      <% end %>
      <% if @proposal.proposal_accepted %>
            <div id="sign-here">
              This proposal was signed on <%= @proposal.created_at.strftime("%d/%m/%y")%> by <%=@proposal.user.name%>
            </div><br><br>
      <% else %>
            <div id="sign-here">
              <%= link_to "Click here to sign this proposal.", sign_path %>
            </div><br><br>
      <% end %>
    </div>


<% else %>

<%= form_for :proposal, method: "patch" do |t| %>

<br>
<div id="welcome">
<em><b>IF YOU WOULD LIKE TO KEEP ANY FORM THE SAME, DO NOT TYPE ANYTHING IN THE TEXT FIELDS.</b></em>
</div>
<br>
<div id="overview">
  <div class="left">
    <h1> OVERVIEW</h1>
  </div>
  <div class="right">
    <h7>Proposal Title:</h7>
    <%= t.text_field :title, size: 35%><br>
    <h7>Client Email:</h7>
    <%= t.text_field :email, size: 35, placeholder: "Prepared for:" %><br>
    <h7>Budget:</h7>
    <%= t.number_field :budget, size: 35 %><br>
  </div>
</div>
<br>
<div id="why-me">
  <div class="left">
    <h2> WHY ME?</h2>
  </div>
  <div class="right">
    <h7>Your project and my skills are a great fit. Here’s why:</h7>
      <%= t.fields_for :reasons do |reason_form| %>
        <h7><%= reason_form.text_area :content, cols: 35, rows: 5, placeholder: @proposal.reasons[0].content %></h7>
      <% end %>
  </div>
</div>

<div id="fees">
  <div class="left">
    <h2> FEES</h2>
  </div>
  <div class="right">
    Total - <%= number_to_currency(proposal.budget, precision: 0) %>
  </div>
</div>

<div id="milestones">
  <div class="left">
    <h2> MILESTONES</h2>
  </div>
  <div class="right">

    1.<%= t.text_field :milestone_1, placeholder: "Milestone 1", size: 35 %><br>
    2.<%= t.text_field :milestone_2, placeholder: "Milestone 2", size: 35 %><br>
    3.<%= t.text_field :milestone_3, placeholder: "Milestone 3", size: 35 %><br>

  </div>
</div>

<div id="what-next">
  <div class="left">
    <h2> WHAT'S NEXT</h2>
  </div>
  <div class="right">
    <p> After reading and agreeing with the terms of this proposal, go ahead and click the link at the bottom of the page to electronically sign this document. By signing the document you're agreeing to hold us to everything that you see on this page, as well as asking us to do the same to you. We are grateful for the relationship we have built together and look forward to continuing working with you.</p>
  </div>
</div>

<div id="terms">
  <div class="left">
    <h2> TERMS</h2>
  </div>
  <div class="right">
    In addition to the text below, the above typed Milestones will populate on the Client View Form
    <%= t.text_area :terms, cols: 35, rows: 10%>
  </div>
</div>

 <br>
 <br>

<div id="invoice">
  <%= t.label "Invoice Paid?" %>  <%= t.check_box :invoice_paid%><br><br>
  <%= t.submit "Save Changes"%>

  <% if @proposal.proposal_accepted %>
        <div id="sign-here">
          This proposal was signed on <%= @proposal.created_at.strftime("%d/%m/%y")%> by <%=@proposal.user.name%>
        </div><br><br>
  <% end %>

</div>
  <% end %>
<br><br>

<h2> SIGNATURES</h2>
This proposal has not yet been signed by the client.<br><br>



<% end %>
