<div id="overview">
  <div class="left">
    <h1> OVERVIEW</h1>
  </div>
  <div class="right">
    <li>Title - <%= @proposal.title %></li>
    <li>Prepared for - <em><%= @proposal.email %></em></li>
    <li>Budget - <%= number_to_currency(@proposal.budget, precision: 0) %></li>
  </div>
</div>
<br>
<div id="why-me">
  <div class="left">
    <h2> WHY ME?</h2>
  </div>
  <div class="right">
    <h7>Your project and my skills are a great fit. Here’s why:</h7>
         <% if @proposal.reasons != [] %>
              <em><li><%= @proposal.reasons[0].content %></li></em>
         <% end %>
  </div>
</div>

<div id="fees">
  <div class="left">
    <h2> FEES</h2>
  </div>
  <div class="right">
    Total - <%= number_to_currency(proposal.budget, precision: 0) %>
  </div>
</div>

<div id="milestones">
  <div class="left">
    <h2> MILESTONES</h2>
  </div>
  <div class="right">
    <li>1. <%= @proposal.milestone_1 %></li>
    <li>2. <%= @proposal.milestone_2 %></li>
    <li>3. <%= @proposal.milestone_3 %></li>
  </div>
</div>

<div id="what-next">
  <div class="left">
    <h2> WHAT'S NEXT</h2>
  </div>
  <div class="right">
      <p> After reading and agreeing with the terms of this proposal, go ahead and click the link at the bottom of the page to electronically sign this document. By signing the document you're agreeing to hold us to everything that you see on this page, as well as asking us to do the same to you. We are grateful for the relationship we have built together and look forward to continuing working with you.</p>
  </div>
</div>

<div id="terms">
  <div class="left">
    <h2> TERMS</h2>
  </div>
  <div class="right">
    <li> <%= @proposal.terms %></li>
    <li>1. <%= @proposal.milestone_1 %></li>
    <li>2. <%= @proposal.milestone_2 %></li>
    <li>3. <%= @proposal.milestone_3 %></li>
  </div>
</div><br><br>

<div id="invoice">
  Invoice Paid?
  <% if @proposal.invoice_paid %>
    Yes
  <% else %>
    No
  <% end %>
  <% if @proposal.proposal_accepted %>
        <div id="sign-here">
          This proposal was signed on <%= @proposal.created_at.strftime("%d/%m/%y")%> by <%=@proposal.user.name%>
        </div><br><br>
  <% else %>
        <div id="sign-here">
          <%= link_to "Click here to sign this proposal.", sign_path %>
        </div><br><br>
  <% end %>
</div>
