<head>
  <script src='node_modules/vivus/dist/vivus.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js'></script>
  <link href="https://fonts.googleapis.com/css?family=Over+the+Rainbow" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/proposal-show-styles.css"/>
  <style>
  </style>
</head>
<body>

<div class="center">
  <div id="back">
    <% if current_admin %>
      <a href= <%=crtv_path%>><button type="button" class="btn btn-default" aria-label="Left Align">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back
      </button></a>
    <% elsif current_user  %>
      <a href= <%=cmpny_path%>><button type="button" class="btn btn-default" aria-label="Left Align">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back
      </button></a>
    <% end %>
  </div>
  <div id="proposal-container">
        <div id ="header">
            <h6><%= @proposal.title %></h6>
            <h5>Prepared for <%= @proposal.email %></h5>
            <h4><%= @proposal.created_at.strftime("%d/%m/%y")%></h4>
        </div>
        <div class="proposal-content">
              <% if user_signed_in? %>
                <% if admin_signed_in? %>
                  <%= render partial: "admin", locals: {proposal: @proposal} %>
                <% else %>
                  <%= render partial: "user", locals: {proposal: @proposal} %>
                <% end %>
              <% elsif admin_signed_in? %>
                <%= render partial: "admin", locals: {proposal: @proposal} %>
              <% end %>
          <div id="signatures">
            <div class="sig-left">
              <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 207.95 110.82" style=""><defs>
              <style>.cls-1{fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:4px;}</style></defs><title>Signature</title>
              <path class="cls-1 PNpRlIew_0" d="M47,60s19,55,13,80-14-7-14-7S42,81,76,56s38-7,38-7,6,14-27,52l19,14s26,27-33,18-34-15-34-15,7.5-3.5,87.5,9.5c0,0,20,2,29-1,6.81-2.27,10.18-2.82,11.42-3a2.91,2.91,0,0,1,1,.07c1.77.44,9,2,23.56,2.89,17,1,48-2,48-2" transform="translate(-31.74 -40.73)"></path>
              <style>.PNpRlIew_0{stroke-dasharray:633 635;stroke-dashoffset:634;animation:PNpRlIew_draw 2000ms linear 0ms forwards;}@keyframes PNpRlIew_draw{100%{stroke-dashoffset:0;}}@keyframes PNpRlIew_fade{0%{stroke-opacity:1;}94.44444444444444%{stroke-opacity:1;}100%{stroke-opacity:0;}}</style>
              </svg>
              <script>
              new Vivus('Layer_1', {duration: 120000}, function() {
              $('.cls-1 PNpRlIew_0').attr('style', 'fill:none')
              });
              </script>
              <br><br>
              <b><%= @proposal.admin.email %></b>
            </div>
            <div class="sig-right">
            <div id="user-sig">
              <% if @proposal.proposal_accepted %>
                  <%= @proposal.signer_name %>
                  <br><br>
              <% else %>
                Proposal not yet signed!
                <br><br>
              <% end %>
            </div>
              <b><%= @proposal.user.email %></b>
          </div>
        </div>
        <% if current_admin %>
        <br>
          <%= link_to "Delete Proposal", proposal_path(@proposal), method: "delete"  %>
        <% end %>
    </div>
</div>


</body>
