

  <div id ="proposal-content">

    <%= link_to "Sign Out", destroy_admin_session_path, method: "delete" %>
    <a href= <%= new_proposal_path %>>
        <h4>New Proposal</h4>
    </a>

    <% @proposals.each do |proposal| %>
    <%=link_to "#{proposal.title.capitalize}", proposal_path(proposal) %><br>
    Prepared for <em><%= proposal.email %></em><br>
    Created on <%= proposal.created_at.strftime("%b %d, %Y") %>
    <br>
    <br>
      <% end %>
    </div>
